**/__pycache__/
**/.ipynb_checkpoints/
output/*
examples/output/*
*.DS_Store
*.log
*.npz
examples/notebook_los_*.yaml
examples/notebook_realistic_*.yaml

# Ignore all scenes except boston_1
scenes/*
!scenes/boston_1/
!scenes/chicago_1/
!scenes/nyc_1/
!scenes/sf_1/
!scenes/la_1/