**/__pycache__/
**/.ipynb_checkpoints/
output/*
examples/output/*
*.DS_Store
*.log
*.npz

# Ignore all scenes except boston_1
scenes/*
!scenes/boston_1/
!scenes/chicago_1/
!scenes/nyc_1/
!scenes/sf_1/
!scenes/la_1/

aggregate_plots/*